body {
    padding: 0;
    margin: 0;
    background: #333533;
}

.header {
    background-image: url('../images/hero-image.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 600px;
}

.bg-text {
    background-color: rgba(0,0,0, 0.75);
    color: #E8EDDF;
    font-weight: bold;
    border: 3px solid #CFDBD5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.bg-image {
    background-image: url("../images/hero-image.jpg");
    filter: blur(8px);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.features .form-control,
.features input {
	border-radius: 0;
}

.features .btn {
    background-color: #589b37;
    border: 1px solid #589b37;
    color: #fff;
    margin-top: 20px;
}

.features .btn:hover {
    background-color: #333;
    border: 1px solid #333;
}

.features p {
    color: #E8EDDF;
}

.page-footer {
    background-color: #242423;
    color: #CFDBD5;
    padding: 60px 0 30px;
}

.footer-copyright {
    color: #666;
    padding: 40px 0;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.center {
    text-align: center;
    word-wrap: unset;
}

.center h2 {
    color: #F5CB5C;
}

.center hr {
    width: 40%;
    background-color: #F5CB5C;
}

.features hr {
    width: 40%;
    background-color: #F5CB5C;
}

@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }
 
    .description h1 {
        font-size: 2em;
    }
 
    .description p {
        font-size: 1.2rem;
    }
 
    .features {
        margin: 0;
    }
}
